@font-face {
    font-family: Jost;
    src: url(./fonts/Jost-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: Jost, sans-serif;
    background-color: white;
}

.logo{
    display: flex; 
     justify-content: space-between;
}

.nav-link{
    align-items: center;
    margin-left: 20px;
}

.intro{
    align-items: center;
}

.process{
    display: inline-block;
}

.right{
    align-items: center;
}

.image{
    justify-content: space-between;
    text-align: left;
    width: 732px;
    height: auto;
 }

 .button-1{
    display: flex;
 }